{% extends 'base.html.twig' %}
{% block title %}<title xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Armenia Tree Project -OUR TEAM AROUND THE WORLD</title>{% endblock %}
{% block meta %}
    <meta property="og:title" content="OUR TEAM AROUND THE WORLD" />
    <meta property="og:description"  content="ATP employs 88 full-time staff in Armenia</br>
                        and the US, and 150 seasonal workers each</br>
                        year." />
    <meta property="og:image"  content="{{ app.request.schemeAndHttpHost }}/uploads/images/our-team-cover.jpg" />
{% endblock %}

{% block body %}

<section class="our-team secondary-pages-top-content" style="background:url('/uploads/images/our-team-cover.jpg') no-repeat; background-size:cover; background-position: 0;">
    <div class="container">
        <div class="row center-aligned-row">
            <div class="col-sm-6">
                {% autoescape %}
                    <h1>OUR TEAM AROUND THE WORLD</h1>
                {% endautoescape %}
            </div>
            <div class="col-sm-6 cover-text">
                {% autoescape %}
                    <br>ATP employs 88 full-time staff in Armenia</br>
                        and the US, and 150 seasonal workers each</br>
                        year.</p>
                {% endautoescape %}
            </div>
        </div>
    </div>
</section>

<div class="our-team-main-content-wrapper">

    <section class="community-second">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-md-6 col-xs-12">
                    <h3 class="committee-title">EXECUTIVE COMMITTEE</h3>
                    {% autoescape %}
                        <p>Carolyn Mugar FOUNDER</br>

                            Anthony Barsamian</br>

                            Tom Garabedian</br>

                            Julia Mirak Kew</p>
                    {% endautoescape %}
                </div>
                <div class="col-md-6 col-xs-12">
                    <img src="../uploads/images/DSC_0119.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    {% set total = 0 %}
    {% set odd = 1 %}

    {% for key, value in branches %}
    {% if value == 'atp' %}
    <section class="boston-team-wrapper team-images-wrapper">
        <div class="container">
            {% autoescape %}
                <h3>{{ key|raw }}</h3>
            {% endautoescape %}
            {% set rw = 0 %}
            <div class="row">
                {% for elem in members %}
                {% if elem.branch == key %}
                {% if rw % 3 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                <div class="col-sm-4 col-xs-12 text-center">
                    <img src="/uploads/images/{{ elem.image }}" alt="">
                    {% autoescape %}
                        <h4>{{ elem.title|raw }}</h4>
                    {% endautoescape %}
                    {% autoescape %}
                        <p>{{ elem.text|raw }}</p>
                    {% endautoescape %}
                </div>
                {% set rw = rw + 1 %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% elseif value == 'nursery' %}
    {% if total == 0 %}
</div>
{% set total = 1 %}
                {% endif %}
                {% if odd == 1 %}
<section class="nurseries-team-wrapper odd-section">
    {% set odd = 2 %}
    {% elseif odd == 2 %}
    <section class="nurseries-team-wrapper even-section">
        {% set odd = 1 %}
        {% endif %}

        <div class="container">
            <div class="row">
                {% autoescape %}
                    <h3>{{ key|raw }}</h3>
                {% endautoescape %}
                {% set first = 0 %}
                {% set nrs = 0 %}
                <div class="col-sm-4 col-xs-4">
                    {% for elem in members %}
                        {% if elem.branch == key %}
                            {% if nrs % 4 == 0 and nrs != 0 %}
                                </div>
                                <div class="col-sm-4 col-xs-4">
                            {% endif %}
                            {% if first == 0 %}
                                {% autoescape %}
                                    <h4>{{ elem.title|raw }}</h4>
                                {% endautoescape %}
                                {% set first = 1 %}
                            {% else %}
                                {% autoescape %}
                                    <p>{{ elem.title|raw }}</p>
                                {% endautoescape %}
                            {% endif %}
                            {% set nrs = nrs + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endfor %}


    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact', {"lang": app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

    {% endblock %}

