{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Tour and Plant</title>{% endblock %}
{% block body %}

    <section class="tour-and-plant secondary-pages-top-content" style="background:url('../uploads/images/tour-and-plant-cover.png') no-repeat; background-size:cover; background-position: 0;">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>TOUR AND PLANT</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>ATP offers tours weekly at its Karin Nursery <br>throughout the year. We welcome you to <br> visit us and <span> #GetRooted! </span></p>
                </div>
            </div>
        </div>
    </section>

    <div class="tour-and-plant-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <p>Come see the “fruits” of ATP and take a Green Tour to our Karin nursery where we grow thousands of trees. Check out more than 50 species of trees and shrubs at our Mukjian Greenhouse, then stop by the Ohanian Environmental Studies Center to see where we teach children, parents and teachers about the environment.
                            <br><br>
                            Cap off your tour by planting your own tree at Ashtarak Park or sipping wine at Voskevaz Winery. All tours include a light lunch and duration is 3 hours including travel time to and from Yerevan.</p><p></p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="atp-tour-video">
                            <div class="title-and-play-button-wrapper">
                                <h3>Join ATP's Green Tour to <br> Karin, Ashtarak &amp; Voskevaz!</h3>
                                <a data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works" aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_s5LHCf5Erg" frameborder="0" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="community-third tour-and-plant-third">
            <div class="container">
                <div class="row">
                    <h4>OUR STAFF IS EAGER TO SHOW YOU <br>HOW WE GROW AND CARE FOR OUR TREES</h4>
                    <div class="col-sm-4 col-xs-12">
                        <div class="ohanian-educational-centers-bottom-single-content">
                            <img class="labeled-images" src="../uploads/images/photo-1@2x.png" alt="">
                            <p>Green Tour of <br> Karin Nursery</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="ohanian-educational-centers-bottom-single-content">
                            <img class="labeled-images" src="../uploads/images/photo-2@2x.png" alt="">
                            <p>Green Tour of Karin Nursery <br> with Tree Planting at Ashtarak Park</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="ohanian-educational-centers-bottom-single-content">
                            <img class="labeled-images" src="../uploads/images/photo-3@2x.png" alt="">
                            <p>Green Tour of Karin Nursery <br> with a Tasting at Voskevaz Winery</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <p>Take a one-hour walking&nbsp;tour&nbsp;of our beautiful Karin Nursery. where we introduce you to the different species
                            of native trees that we grow and how we grow them. Visit our greenhouses,&nbsp;the Ohanian Environmental Education
                            Center (located at the heart of the nursery), gift shop and even do some hands-on nursery&nbsp;work!&nbsp;
                            This tour includes transportation and a light lunch.</p>
                        <p>Leave at 10 am and return to Yerevan at 1 pm</p>
                        <p><b> $20 per person. </b></p>
                    </div>
                    <div class="col-sm-4">
                        <p>Interested in helping to green Armenia along with ATP? Join us to plant your own tree at Ashtarak Park.
                            Following the tour of Karin Nursery and lunch, we will bring you to Ashtarak Park and together plant a
                            tree that will live in Armenia for decades to come.</p>
                        <p>Leave at 10 am and return to Yerevan at 1:30 pm</p>
                        <p><b>$100 per person. </b></p>
                    </div>
                    <div class="col-sm-4">
                        <p>Following the Tour of Karin Nursery, Enjoy the beautiful Voskevaz Winery which is 15 minutes drive from our Nursery.
                            There you will get a tour of the winery, learn about how the wine is made and taste some of Armenian’s finest.
                            This tour also comes with refreshments along with the tasting.</p>
                        <p>Leave at 10am and return to Yerevan at 3 pm</p>
                        <p><b> $50 per person. </b></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="atp-tours-details-content">
            <div class="container">
                <div class="row">
                    <h4>Details about all ATP Tours</h4>
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>Karin Nursery is a 35 min ride from Yerevan.</li>
                            <li>Transportation is included and pick up can <br> be arranged at all major hotels.</li>
                            <li>Pick-up is at 10am.</li>
                            <li>Tour&nbsp;takes about 1&nbsp;hour</li>
                            <li>Light lunch included&nbsp;</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>Tours can be arranged most weekday upon request.</li>
                            <li>In addition to the tours above, visits to some of Armenia’s sites along the road to ATP’ Karin Nursery, such as Garmravor Church, can be arranged in advance. Depending on the site, there might be an additional cost.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Email us at <span>yerevan@Armeniatree.org</span>  to book an upcoming tour.</p>
                    </div>
                </div>
            </div>
        </section>



    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>





    </body>
    </html>
    {#<hr>#}
    {#<table>#}
    {#{% for object in pager.currentPageResults %}#}
    {#<tr>#}
    {#<td>{{ object.Title }}</td>#}
    {#<td>{{ object.Text }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</table>#}

    {#{% if pager.haveToPaginate %}#}
    {#{{ pagerfanta(pager) }}#}
    {#{% endif %}#}
    {#<hr>#}
{% endblock %}