{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Interactive</title>{% endblock %}

{% block body %}

    <section class="bridges-interactive-secondary-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <ul class="secondary-navbar">
                        <li>
                            <a href="{{ path('ecogames', { 'lang': app.request.locale }) }}">EcoGames</a>
                        </li>
                        <li>
                            <a href="{{ path('bbmagazine', { 'lang': app.request.locale }) }}">Magazines</a>
                        </li>
                        <li>
                            <a href="{{ path('videos', { 'lang': app.request.locale }) }}">Videos</a>
                        </li>
                        <li>
                            <a href="{{ path('tchalo', { 'lang': app.request.locale }) }}">Meet Tchalo!</a>
                        </li>
                        <li>
                            <a href="{{ path('coloring', { 'lang': app.request.locale }) }}">Coloring</a>
                        </li>
                        <li>
                            <a href="{{ path('treevia', { 'lang': app.request.locale }) }}">Treevia!</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <a href="{{ path('interactive', {lang: app.request.locale}) }}">
                        <img src="../img/bb-interactive.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="bridges-interactive-slider-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel owl-theme">
                        <div class="bb-slide-one" style="background:url('../uploads/images/bb-slide-one.png') no-repeat; background-size:cover; background-position: 0; height: 550px">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>WE ALL NEED TO BREATHE</h1>
                            </div>
                        </div>
                        <div class="bb-slide-one" style="background:url('../uploads/images/bb-slide-one.png') no-repeat; background-size:cover; background-position: 0; height: 550px">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>THEY GROW FOOD FOR PEOPLE AND ANIMALS</h1>
                            </div>
                        </div>
                        <div class="bb-slide-one" style="background:url('../uploads/images/bb-slide-one.png') no-repeat; background-size:cover; background-position: 0; height: 550px">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>THEY MAKE OUR <br> COMMUNITIES BEAUTIFUL</h1>
                            </div>
                        </div>
                        <div class="bb-slide-one" style="background:url('../uploads/images/bb-slide-one.png') no-repeat; background-size:cover; background-position: 0; height: 550px">
                            <div class="bb-slide-text-wrapper">
                                <p>Why are Trees so Important?</p>
                                <h1>WE ALL NEED TO CARE<br> FOR OUR ENVIRONMENT</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bb-interactive-pictured-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a href="ecogames">
                        <div>
                            <img src="../uploads/images/Jrahovitkindergarten.jpg" alt="">
                            <div class="menu-title games" style="background-color: #CE4EFF;">
                                <p>Games</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="bbmagazine">
                        <div>
                            <img src="../uploads/images/magazines-menu-photo.png" alt="">
                            <div class="menu-title games" style="background-color: #6FD054;">
                                <p>Magazines</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="treevia">
                        <div>
                            <img src="../uploads/images/IMG_5865.jpg" alt="">
                            <div class="menu-title games" style="background-color: #4EADFF;">
                                <p>Treevia!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <a href="videos">
                        <div>
                            <img src="../uploads/images/rsz_new-video.jpg" alt="">
                            <div class="menu-title games" style="background-color: #F5C934;">
                                <p>Videos</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="coloring">
                        <div>
                            <img src="../uploads/images/coloring-menu-photo.png" alt="">
                            <div class="menu-title games" style="background-color: #FA6400;">
                                <p>Coloring</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <a href="tchalo">
                        <div>
                            <img src="../uploads/images/tchalo-menu-photo.png" alt="">
                            <div class="menu-title games" style="background-color: #EF2323;">
                                <p>Meet Tchalo!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="order-atp-t-shirt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>To Order an ATP shirt?</h2>
                    <p>Call or E-mail us at<br />617-926-TREE (8733)</p>
                    <p class="email-text">info@amreniatree.org</p>
                </div>
            </div>
        </div>
    </section>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact', { 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/owl.carousel.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {#<!-- Slick Slider -->#}
    {#<script src="{{ asset('js/slick.min.js') }}"></script>#}

    <!-- Slick custom functionality -->
    <script src="{{ asset('js/sliderFunctionality.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}
